#title {
    text-align: center;
}

#log-div {
    width: 50%;
    height: 500px;
    border: 1px dashed gray;
    margin: auto;
    overflow: auto;
}

#data-table {
    margin: auto;
    width: 100%;   
    border-collapse: separate;
}

#controls {
    width: 50%; 
    margin:auto;
    display:flex;
    flex-direction: row;
    
}

.settings-container {
    display: flex;
    flex-direction: column;
    width: 33%;
}

.btn {
    height: 50px;
    font-size: 15pt;
}

#queue-header {
    height: 50px;
    text-align: center;
    font-size: 15pt;
}

#queue-val {
    text-align: center;
    height: 50px;
    font-size: 50pt;
    margin: 0;
    color:darkgreen;
}

#new-region-text {
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    height: 150px;
    resize: none;
    font-size: 15pt;
    
}

#queue-div {
    border: 1px solid green;
}


.mono-font {
    font-family: "Lucida Console", "Courier New", monospace;
}

