@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&family=PT+Sans+Caption&display=swap');

body { 
  padding: 50px;
  font-family: 'IBM Plex Mono', monospace;
}

.title{
  text-align: center;
}

#container {
  display: flexbox;
  flex-direction: row;
  height: 400px;
  width: 400px;
}

#img-div {
  height: 100%;
  width: 30px;
  margin: 5px;
}

#content-div {
  height: 100%;
  width: 360px;
}

#tile {
  width: 30px;
  height: 30px;
}



