@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=PT+Sans+Caption&display=swap');

body { 
  font-family: 'Lato', sans-serif;
  font-weight: 300px ;
  margin:  0px;
} 

html, body {
  width: 100%;
  height: 100%;
}

.bg-img {
  position: relative;
  width: 100%;
  height: 100%;
  background: url('http://unsplash.it/1200x800') center center no-repeat;
  background-size: cover;
}

.bg-img:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
  opacity: .6; 
}


#content-div {
  height: 600px;
  width: 600px; 
  background-color: white;
  opacity: 0.5;
  position: absolute;
  top: 150px;
  left: 440px;
}

#content-title {
  text-align: center;
  text-decoration: underline;
}

#toggle:hover {
  color:gray;
}

.content-text {
  margin: 10px;
}

.content-header {
  margin: 5px;
}

.title {
  font-size: 20pt;
  
}

.loading-skeleton {
  width: 100px;
  height: 21px;
  margin: 10px;
  animation: progress 1.2s ease-in-out infinite;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 100px 100%;
  background-repeat: no-repeat;
  border-radius: 5pt;
}


@keyframes progress {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: calc(100px + 100%) 0;
  }
}


