@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&family=PT+Sans+Caption&display=swap');

body { 
  padding: 50px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight:300;
} 

.title{
  text-align: center;
  font-weight:300;
}

#devices-container {
  margin: auto;
  height: 600px;
  width: 420px;
}

#container {
  display: flex;
  flex-direction: row;
  
  height: 400px;
  width: 400px;
  margin: auto;
}

#img-div {
  height: 100%;
  width: 50px;
  padding:0px 5px 5px 5px;
  margin: 0px;

}

#content-div {
  height: 100%;
  width: 338px;
  border: 1px solid gray;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  transition-duration: 1s;
}

#content-title {
  text-align: center;
  text-decoration: underline;
}

#toggle:hover {
  color:gray;
}

.toggle-btn {
  position: absolute;
  right:2px;
  top:2px;
  width: 50px;
  height: 50px;
  font-size: 8pt;
  background-color: transparent;
  border: none;
  transition-duration: 1s;
  cursor: pointer;
}

.content-text {
  margin: 10px;
}

.content-header {
  margin: 5px;
}

#devices-container-bar {
  width: 420px;
  height: 25px;
  background-color: #f5f5f5;
}

#tile {
  width: 52px;
  height: 52px;
}

.loading-skeleton {
  width: 100px;
  height: 21px;
  margin: 10px;
  animation: progress 1.2s ease-in-out infinite;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 100px 100%;
  background-repeat: no-repeat;
  border-radius: 5pt;
}


@keyframes progress {
  0% {
      background-position: -100px 0;
  }
  100% {
      background-position: calc(100px + 100%) 0;
  }
}




