doctype html
html
  head
    title BLE Location
    link(rel="stylesheet",type="text/css",href="C:\Users\amitf\OneDrive\Documents\Cat-Localizer\webpage\public\stylesheets\style.css")
  body
    h1 BLE Network: Location
    h5 #{loc}