doctype html
html
  head
    title BLE Location
    link(rel="stylesheet",type="text/css",href="/stylesheets/style.css")
    meta(http-equiv='Content-Security-Policy', content='upgrade-insecure-requests')
  body
    h1 Indoor Positioning System
    div#loading-wrapper
    div#content
      p#result

    script(src="/javascripts/main.js")